~$*
Faza 5 - Implementacija/psiledzije/.idea/workspace.xml
*.pyc
Faza 5 - Implementacija/psiledzije/.idea/shelf/Uncommitted_changes_before_Update_at_27-May-23_11_01_PM__Changes_.xml
Faza 5 - Implementacija/psiledzije/.idea/workspace.xml
Faza 5 - Implementacija/psiledzije/.idea/shelf/Uncommitted_changes_before_Update_at_27-May-23_11_01_PM_\[Changes\]/shelved.patch
Faza 5 - Implementacija/psiledzije/.idea/workspace.xml
